name: Selenium Tests (Windows)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: windows-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Create venv & Install deps
      shell: pwsh
      run: |
        python -m venv venv
        ./venv/Scripts/pip install --upgrade pip
        ./venv/Scripts/pip install selenium pytest allure-pytest pytest-html

    - name: Run Selenium Tests (headless edge)
      shell: pwsh
      working-directory: ./selenium-tests
      run: ../venv/Scripts/python -m pytest tests --headless -q
